# Terminar todos los archivos con un salto de linea estilo Unix
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentacion con 2 espacios
[*.{js,jsx,scss,json}]
indent_style = space
indent_size = 2
