.IconoDeMapa {
  user-select: none;
  position: relative;

  // Hay que cambiar estos valores si cambias la imagen
  height: 44px;
  width: 25px;
  top: -44px;
  left: calc(-25px / 2);
  cursor: pointer;
}
