$altoDeCabera: 65px;

.Buscador {
  overflow: hidden;
  height: calc(100vh - #{$altoDeCabera});

  .izquierda {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    background-color: #F7F7F7;

    .buscador {
      input[type=text] {
        margin: 20px;
        width: calc(100% - 40px);
        padding: 0 30px 0 15px;
      }

      i {
        position: absolute;
        right: 30px;
        top: 32px;
        font-size: 16px;
      }
    }

    .tarjetas {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;

      .tarjeta {
        font-family: Montserrat, sans-serif;
        width: 94%;
        margin: 10px 3%;
        background-color: #FFF;
        font-size: 12px;
        color: #4A4A4A;
        padding: 15px;
        line-height: 23px;

        .nombre {
          font-size: 14px;
        }

        .estado {
          text-transform: uppercase;

          &.habilitado {
            color: #6BB020;
          }

          i {
            cursor: pointer;
            color: #545252;
          }
        }

        i {
          margin-right: 5px;
        }

        a {
          color: #4A90E2;
          text-decoration: underline;
        }
      }
    }
  }

  .derecha {
    position: relative;
    float: left;
    width: 75%;
    height: 100%;
    background-color: #FFF;

    .filtroSoloHabilitados {
      position: absolute;
      left: 15px;
      top: 15px;
      border: 1px solid #BBB;
      line-height: 42px;
      z-index: 2;
      background-color: #FFF;
      font-family: Montserrat, sans-serif;
      padding: 0 12px;
      font-size: 14px;
      cursor: pointer;

      input {
        position: relative;
        top: -1px;
      }
    }
  }
}
