$altoDeCabera: 65px;

.Buscador {
  overflow: hidden;
  height: calc(100vh - #{$altoDeCabera});

  .izquierda {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #F7F7F7;
  }

  .derecha {
    float: left;
    width: 80%;
    height: 100%;
    background-color: #FFF;
  }
}
