* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	background-color: #f3f3f3;
}

h1, h2, h3 {
	margin: 0;
}

input {
	line-height: 25px;
	width: 100%;
	padding: 0 2px;
}

.buscadorDeGeriatricos {
	width: 100%;
	min-height: 500px;
	height: 100%;
}

.buscarPorNombre {
	margin: 10px 0px;
}

.filtros {
	padding: 10px;
	width: 25%;
	/*min-height: inherit;*/
	float: left;
}

.geriatrico {
	margin: 20px 0px;
}

.geriatrico .grupo-dato {
	margin: 10px 0px;
}

.info {
	display: flex;
	bottom: 0;
	position: absolute;
	margin-bottom: 10px;
}

.info .logo {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 0 10px ;
}

.info .logo.tic {
	background-image: url(../img/semanatic.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.info .logo.fundeps {
	background-image: url(../img/logo_fundeps.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.mapa {
	width: 75%;
	height: 100%;
	/*min-height: inherit;*/
	float: left;
}

@media (max-width: 480px) {
	.filtros {
		width: 100%;
		height: auto;
	}
	.mapa {
		width: 100%;
	}
}