* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	background-color: #f3f3f3;
}

h1, h2, h3 {
	margin: 0;
}

input {
	line-height: 25px;
	width: 100%;
	padding: 0 2px;
}

.buscadorDeGeriatricos {
	width: 100%;
	min-height: 500px;
	height: 100%;
}

.buscarPorNombre {
	margin: 10px 0px;
	border: none;
	height: 36px;
	/*font-size: 1em;*/
	/*font-style: italic;*/
	padding: 5px;
}

.buscarPorNombre:focus {
	outline: none;
	border: 2px solid deepskyblue;
}

.filtros {
	padding: 10px;
	width: 25%;
	height: 100%;
	float: left;
	display: flex;
	flex-direction: column;
}

.geriatrico {
	margin: 20px 0px;
}

.geriatrico .grupo-dato {
	margin: 10px 0px;
}

.info {
	display: inline-block;
	bottom: 0;
	margin: 10px auto;
}

.info .logo {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 30px auto;
}

.info .logo.tic {
	background-image: url(../img/semanatic.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.mapa {
	width: 75%;
	height: 100%;
	/*min-height: inherit;*/
	float: left;
}

@media (max-width: 500px) {
	.filtros {
		width: 100%;
		height: auto;
	}
	.mapa {
		width: 100%;
	}
}

