html,
body,
.page {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #f3f3f3;
}

p {
  margin-bottom: 1em;
}

.pagina {
  width: 100%;
}

.pagina-encabezado {
  background-color: #ff8123;
  height: 60px;
  display: flex;
  align-items: center;
}

.encabezado-titulo{
  margin: 0px 20px;
}

.navbar > li {
  list-style: none;
  padding: 9px 10px;
  list-style: none;
}

.navbar > li:hover {
  background-color: #bc5e18;
  font-weight: bold;
}

.navbar.activo {
  background-color: #dd701f;
  font-weight:bolder;
}

.navbar > li > a {
  color: white;
  text-decoration: none;
}
.pagina-contenido {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  width: 100%;
}

.pagina-contenido > iframe {
  width: 100%;
  height: calc(100vh - 60px);
}
/*.pagina-footer {
flex: 0 0 auto;
background-color: #d15b30;
}*/

.navbar {
  display: flex;
  align-items: center;
}

